<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire de Concours</title>
    <link rel="stylesheet" th:href="@{/css/concours.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>

<div th:insert="~{_parts/_header :: header}"></div>

<main class="form-container">
    <h1 class="form-title" th:text="${concours.id != null ? 'Modifier le Concours' : 'Ajouter un Concours'}"></h1>

    <form th:action="@{/admin/concours/soumettre}" method="post" class="form-content">
        <input type="hidden" th:if="${concours.id != null}" th:value="${concours.id}" name="id" />

        <div class="form-group">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" id="nom" name="nom" th:value="${concours.nom}" required class="form-input" />
        </div>

        <div class="form-group">
            <label for="date" class="form-label">Date</label>
            <input type="date" id="date" name="date" th:value="${concours.date}" required class="form-input" />
        </div>

        <div class="form-group">
            <label for="lieu" class="form-label">Lieu</label>
            <input type="text" id="lieu" name="lieu" th:value="${concours.lieu}" required class="form-input" />
        </div>

        <div class="form-group">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" name="description" required th:text="${concours.description}" class="form-textarea"></textarea>
        </div>

        <div class="form-buttons">
            <button type="submit" class="button-submit">Soumettre</button>
            <a href="/admin/concours" class="button-cancel">Retour à la liste des concours</a>
        </div>
    </form>
</main>

</body>
</html>
