@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll; /* Permet à la page d'avoir une scrollbar si nécessaire */
}

/* Personnalisation de la scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Taille de la scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Fond de la piste de la scrollbar */
}

/* Fixer la position de la scrollbar */
.fixed-scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 8px;
    background-color: transparent;
    z-index: 9999;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    padding: 1px 40px;
    background: linear-gradient(#167edf 0%, #0e5faa 100%);
    border-radius: 50px;
    width: 60%;
    max-width: 800px;
    color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.308);
    box-sizing: border-box;
}

.header-logo {
    flex: 1;
}

.header-logo h1 {
    font-size: 1.3em;
    color: white;
}

.header-navbar {
    display: flex;
    justify-content: center;
}

.header-navbar ul {
    display: flex;
    padding: 0;
}

.header-navbar li {
    list-style-type: none;
    margin: 0 20px;
}

.header-box svg {
    color: white;
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

.header-box svg:hover {
    color: #c3daf0;
    transform: translateY(-5px);
}

.header-misc {
    flex: 1;
    text-align: right;
}
