<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Magasin de Pêche</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div th:replace="_parts/_header :: header"></div>

<main>
    <div class="hp-box">
        <div class="hp-produits">
            <div class="hp-titre">
                <h2><a th:href="@{/shop}">Derniers produits</a></h2>
            </div>
            <div class="hp-produits-liste">
                <div class="produits-container">
                    <div th:each="produit : ${produits}" class="produit-box">
                        <div class="produit-image">
                            <img th:src="${produit.imageUrl}" alt="Image de ${produit.nom}"/>
                        </div>
                        <div class="produit-details">
                            <h2 th:text="${produit.nom}"></h2>
                            <p th:text="${produit.description}"></p>
                            <div class="produit-footer">
                                <span class="produit-prix" th:text="${produit.prix} + ' €'"></span>
                                <span class="produit-stock" th:text="'Stock: ' + ${produit.quantite}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="hp-concours">
            <div class="hp-titre">
                <h2><a href="#">Derniers concours</a></h2>
            </div>
            <div class="hp-concours-liste">
                <div class="concours-container">
                    <div class="concours-header">
                        <div class="concours-title">Nom</div>
                        <div class="concours-title">Date</div>
                        <div class="concours-title">Lieu</div>
                    </div>

                    <div th:each="concours : ${concours}" class="concours-row">
                        <div class="concours-cell" th:text="${concours.nom}"></div>
                        <div class="concours-cell" th:text="${concours.date}"></div>
                        <div class="concours-cell" th:text="${concours.lieu}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <p>&copy; 2024 Magasin de Pêche. Tous droits réservés.</p>
</footer>
</body>
</html>
