<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Inscription</title>
</head>
<body>
<h1>Inscription</h1>
<form action="#" th:action="@{/inscription}" method="post" th:object="${user}">
  <div>
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" id="username" name="username" required />
  </div>
  <div>
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <button type="submit">S'inscrire</button>
  </div>
</form>
</body>
</html>
