<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Produit</title>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
<div class="container">
    <div class="form-container">
        <h1 class="form-title">Nouveau produit</h1>
        <form class="form" action="#" th:action="@{/admin/produits/{id}(id=${produit.id})}" method="post"
              th:object="${produit}" enctype="multipart/form-data">

            <!-- Champ Nom -->
            <div class="form-group">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" th:field="*{nom}" id="nom" class="form-input" required/>
            </div>

            <!-- Champ Prix -->
            <div class="form-group">
                <label for="prix" class="form-label">Prix</label>
                <input type="number" step="0.01" th:field="*{prix}" id="prix" class="form-input" required/>
            </div>

            <!-- Champ Description -->
            <div class="form-group">
                <label for="description" class="form-label">Description</label>
                <input type="text" th:field="*{description}" id="description" class="form-input" required/>
            </div>

            <!-- Champ Quantité -->
            <div class="form-group">
                <label for="quantite" class="form-label">Quantité</label>
                <input type="number" th:field="*{quantite}" id="quantite" class="form-input" required/>
            </div>

            <!-- Image actuelle -->
            <div class="form-group">
                <label>Image actuelle:</label>
                <img th:src="@{${produit.imageUrl}}" alt="Image du produit" style="width: 100px;"/>
            </div>

            <!-- Nouvelle image (optionnel) -->
            <div class="form-group">
                <label for="imageFile" class="form-label">Nouvelle image (optionnel):</label>
                <input type="file" id="imageFile" name="imageFile" class="form-input"/>
            </div>

            <!-- Sélection des catégories -->
            <div class="form-group">
                <label for="categorie" class="form-label">Catégorie</label>
                <select id="categorie" th:field="*{categorie}" class="form-input">
                    <option value="CANNE_A_PECHE">Canne à pêche</option>
                    <option value="MOULINET">Moulinet</option>
                    <option value="FIL_DE_PECHE">Fil de pêche</option>
                    <option value="HAMECONS">Hameçons</option>
                    <option value="EPUISETTE">Épuisette</option>
                    <option value="APPATS">Appâts</option>
                    <option value="CHAPEAU">Chapeau</option>
                    <option value="VETEMENT">Vêtement</option>
                    <option value="GANTS">Gants</option>
                    <option value="SEAU">Seau</option>
                    <option value="COUTEAU">Couteau</option>
                </select>
            </div>

            <!-- Boutons de soumission -->
            <div class="form-buttons">
                <button type="submit" class="button-submit">Modifier</button>
            </div>
        </form>

        <div class="form-group">
            <p><a th:href="@{/admin/produits}" class="button-cancel">Retour à la liste des produits</a></p>
        </div>
    </div>
</div>
</body>

</html>

