<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Inscription au concours</title>
</head>
<body>
<h1>Inscription au concours</h1>
<form action="#" th:action="@{/concours/inscription}" method="post">
    <input type="hidden" name="concoursId" th:value="${concours.id}" />
    <label for="nomParticipant">Nom :</label>
    <input type="text" id="nomParticipant" name="nomParticipant" required /><br/>
    <label for="emailParticipant">Email :</label>
    <input type="email" id="emailParticipant" name="emailParticipant" required /><br/>
    <button type="submit">S'inscrire</button>
</form>
</body>
</html>
