<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des Concours</title>
    <link rel="stylesheet" th:href="@{/css/concours.css}">
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
<!-- Inclure l'en-tête -->
<div th:insert="~{_parts/_header :: header}"></div>
<main>
    <h1>Liste des Concours</h1>

    <div class="concours-container">
        <div class="concours-header">
            <div class="concours-title">Nom</div>
            <div class="concours-title">Date</div>
            <div class="concours-title">Lieu</div>
            <div class="concours-title">Description</div>
            <div class="concours-title">Actions</div>
        </div>

        <!-- Parcours de la liste des concours -->
        <div th:each="concours : ${concoursList}" class="concours-row">
            <div class="concours-cell" th:text="${concours.nom}"></div>
            <div class="concours-cell" th:text="${concours.date}"></div>
            <div class="concours-cell" th:text="${concours.lieu}"></div>
            <div class="concours-cell" th:text="${concours.description}"></div>
            <div class="concours-cell">
                <!-- Formulaire d'inscription -->
                <form th:action="@{/concours/inscrire/{id}(id=${concours.id})}" method="POST"
                      onsubmit="return confirm('Voulez-vous vraiment vous inscrire au concours ?');">
                    <button type="submit" class="edit-button"
                            th:if="${not concours.dejaInscrit}">S'inscrire
                    </button>
                    <button type="button" class="unactive-button"
                            th:if="${concours.dejaInscrit}" disabled>Déjà inscrit
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
</body>

</html>
