<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Détails - ' + ${produit.nom}">Détails du produit</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div th:insert="~{_parts/_header :: header}"></div>

<div class="detail-box">
    <div class="detail-img">
        <img th:src="${produit.imageUrl}" alt="Image de [[${produit.nom}]]"/>
    </div>
    <div class="detail-content">
        <div class="detail-content-header">
            <h1 th:text="${produit.nom}"></h1>
            <h2 th:text="${produit.categorie}"></h2>
        </div>
        <p th:text="${produit.description}"></p>
        <div class="detail-content-footer">
            <span class="price" th:text="${produit.prix} + ' €'"></span>
            <span class="stock" th:text="'Stock: ' + ${produit.quantite}"></span>
        </div>
        <div>
            <form th:action="@{/add-to-cart/{produitId}(produitId=${produit.id})}" method="post">
                <div th:if="${produit.quantite > 0}">
                    <button class="add-to-cart-btn">Ajouter au panier</button>
                </div>
                <div th:if="${produit.quantite == 0}">
                    <span>Ce produit est en rupture de stock.</span>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
